.header {
    background-color: #495E57;
    display: flex;
  }

  .header-content {
    color: #F4CE14;
    margin-left: 120px;
    text-align: left;
    flex: auto;
  }

  .header-content h3 {
    color: #f8ccdc;
    text-align: left;
    flex: auto;
  }

  .reserve-btn {
    font-size: larger;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ffcc00;
    color:#495E57;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 10px;
    width: min-content ;
    margin-bottom: 30px;
  }

  .reserve-btn:hover {
    background-color: #3c4f48;
    color: #F4CE14;
  }

  .header-image {
    margin-right: 120px;
    display: flex;
    border-radius: 50%;
  }