.header {
    background-color: #495E57;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

  .header-content {
    color: #F4CE14;
    margin-left: 120px;
    text-align: left;
  }

  h3 {
    color: #f8ccdc;
    text-align: center;
    flex: auto;
  }

  .header-image {
    margin-right: 250px;
    width: 250px;
    height: 150px;
    border-radius: 50%;
  }

  .reserve-btn {
    font-size: larger;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ffcc00;
    color:#495E57;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 10px;
    width: min-content ;
    margin-bottom: 30px;
  }

  .reserve-btn:hover {
    background-color: #3c4f48;
    color: #F4CE14;
  }

  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
    .header-content {
      margin-left: 0;
      text-align: center;
    }

    .header-image {
      margin: 10px 0;
      width: 80px;
      height: 80px;
    }

    .reserve-btn {
      font-size: 1rem;
      padding: 8px 20px;
      width: auto;
      margin-top: 10px;
    }
  }





