.main-nav {
    overflow: hidden;
    margin: 30px;
    display: flex;
    
}


.nav-item {
    list-style: none;
    display: flex;
    color: black;
    display: inline;
    text-align: center;
    padding: 14px 20px;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 30px;
    
}

.main-nav .nav-item:hover {
    background-color: grey;
}